.oops {
    display: flex;
    flex-direction: row;
    height: 100vh;
    flex-wrap: wrap;
    align-items: center;
}

.oops img {
    max-height: 100%;
    min-width: 200px;
    object-fit: contain;
}

.oops > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 2rem;
    min-width: 300px;
}

.oops h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.oops p, .oops span {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.embeded-link {
    text-decoration: none;
    color: #007bff;
}

.embeded-link:hover {
    text-decoration: underline;
    cursor: pointer;
}