.leaderboard-main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

.leaderboard-switches {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.leaderboard-cards {
  display: grid;
  grid-template-columns: repeat(3, clamp(300px, 30vw, 400px));
  gap: 20px;
}

th{
  text-align: left;
}

td, th {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 768px) {
  .leaderboard-main {
    grid-template-columns: 1fr;
  }
}