.sidebar {
    height: 100%;
    background: var(--sidebar-bg);
    color: white;
    padding: 20px;
}

#logo {
    width: 150px;
    height: auto;
    margin: auto;
    display: block;
    margin-bottom: 25px;
}

nav.sidebar-nav {
    position: sticky;
    top: 20px;
    background-color: var(--sidebar-bg);
    padding: 15px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

nav.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-item {
    display: block;
    padding: 15px 30px;
    color: white;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-item:hover, .nav-item.active {
    background-color: white;
    color: var(--color-text);
}

.nav-item svg {
    margin-right: 10px;
    fill: currentColor;
}