.leaderboard-container {
  padding: 20px;
}

.leaderboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.leaderboard-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

th {
    text-align: left;
}

td, th {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

@media (max-width: 768px) {
  .leaderboard-main {
    grid-template-columns: 1fr;
  }
}