.comparison-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comparison-data {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.comparison-data .card {
    flex: 1;
}

.comparison-chart {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.player-search-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: space-around;
  padding-top: 2rem;
  flex-wrap: wrap;
}