.players-actions {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 10px;
}

.players-actions .button {
    display: block;
    line-height: normal;
}

.players-actions :first-child {
    margin-left: 0;
}